name = "owned-greeter"
version = "0.0.1"
description = "Simple greeter project that can be owned"
keywords = ["sample", "greeter", "owned"]
deployers = ["0x7f28058F0b989430C7397782F797e300CDc10042", "0x3852C9fdc6a5C0A4A6230c1d2d954ccCB9b90465"]
preset = "clone"

[clone.greeter]
source = "owned-greeter:latest@main"
target = "owned-greeter:0.0.0@clone-clone"
options.salt = "owned-greeter-clone"

[invoke.setGreeting]
from = "0x7f28058F0b989430C7397782F797e300CDc10042"
target = ["greeter.Greeter"]
func = "setGreeting"
args = ["example greet 2"]
